import system/etc/init/init.bq.device.system.rc

on property:persist.service.sdlog.enable=1
    start BQlogLocal

on property:persist.service.sdlog.enable=0
    setprop sys.sdlog.run 0
    stop BQlogLocal

service BQlogLocal /system/bin/BQlog local
    class late_start
    user root
    group media_rw
    disabled
    oneshot

on property:persist.service.BQlogLo.enable=1
    start BQlogLocal

on property:persist.service.BQlogLo.enable=0
    stop BQlogLocal

service BQlogSD /system/bin/BQlog sd
    class late_start
    user root
    group media_rw
    disabled
    oneshot

on property:persist.service.BQlogSD.enable=0
    stop BQlogSD

on property:persist.service.BQlogSD.enable=1
    start BQlogSD

service tcpdumpall /system/bin/tcpdump -i any -p -s 0 -w /sdcard/tcpdump_all.pcap
   user root
   group media_rw
   disabled
   oneshot

on property:persist.tcpd.all.enable=1
   start tcpdumpall

on property:persist.tcpd.all.enable=0
   stop tcpdumpall

service tcpdumpwifi /system/bin/tcpdump -i wlan0 -p -s 0 -w /sdcard/tcpdump_wifi.pcap
   user root
   group media_rw
   disabled
   oneshot

on property:persist.tcpd.wifi.enable=1
   start tcpdumpwifi

on property:persist.tcpd.wifi.enable=0
   stop tcpdumpwifi

service mmc-info /system/bin/sh /system/etc/mmc-info.sh
    disabled
    oneshot
    user root
    group root
    seclabel u:r:healthd:s0

on property:sys.mmc-info=1
    start mmc-info
